.buttonContainer{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}

.button{
      width: 60px;
      height: 40px;
      margin: 11px;
      border-radius: 30%;
      box-sizing: border-box;
      box-shadow: 5px 5px 10px black;
}